<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>PetSupplies</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
    <servlet>
    <description></description>
    <display-name>IncrementDecrementServlet</display-name>
    <servlet-name>IncrementDecrementServlet</servlet-name>
    <servlet-class>pets.servlet.IncrementDecrementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncrementDecrementServlet</servlet-name>
    <url-pattern>/quantity-inc-dec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>pets.servlet.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/remove-from-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>pets.servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pets.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>pets.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>pets.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>pets.servlet.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateOtpServlet</display-name>
    <servlet-name>ValidateOtpServlet</servlet-name>
    <servlet-class>pets.servlet.ValidateOtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateOtpServlet</servlet-name>
    <url-pattern>/ValidateOtpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPasswordServlet</display-name>
    <servlet-name>NewPasswordServlet</servlet-name>
    <servlet-class>pets.servlet.NewPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPasswordServlet</servlet-name>
    <url-pattern>/NewPasswordServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>OrderConfirmationServlet</display-name>
    <servlet-name>OrderConfirmationServlet</servlet-name>
    <servlet-class>pets.servlet.OrderConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderConfirmationServlet</servlet-name>
    <url-pattern>/OrderConfirmationServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>pets.servlet.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
</web-app>
